<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <style>
      .nab {
        position: absolute;
        padding: 3rem;
      }

      .nab > .s {
        background-color: #dadada;
        padding: 0.5rem;
        border-radius: 0.3rem;
        text-decoration: none;
        color: #242424;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      body {
          margin: 0;
          font-family: 'Courier New', Courier, monospace;
      }
      .error {
          background-color: #242424;
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #dadada;
        font-size: 5rem;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="nab">
      <a href="/" class="s">Go Back</a>
    </div>
    <div class="error">404! <br> Server Not Found!</div>
  </body>
</html>
